$keyWidth: 50px;
$key-bottom-radius-size: 5px;
$key-shadow-color: #555;
$key-shadow-spread: 3px;
.key {
  position: relative;
  display: flex;
  height: 100%;
  width: $keyWidth;
  padding-bottom: 5px;

  align-items: flex-end;
  justify-content: center;

  border: 1px solid #000;
  border-bottom-left-radius: $key-bottom-radius-size;
  border-bottom-right-radius: $key-bottom-radius-size;

  &.white {
    &.active,
    &:active {
      transform: translateY(-2px);
      box-shadow: -5px 0px $key-shadow-spread 0px $key-shadow-color inset;
    }

    &.prime {
      &.active,
      &:active {
        // background-color: antiquewhite;
        // box-shadow: -8px 0px 2px 0px $key-shadow-color inset;
        // opacity: 0.1;
        ::after {
          content: " ";
          background-color: black;
          width: 15px;
          height: calc(70%);
          position: absolute;
          top: 0px;
          left: 30px;
          box-shadow: -3px 3px $key-shadow-spread 5px $key-shadow-color;
          // background-color: $key-shadow-color;
          border-bottom-left-radius: $key-bottom-radius-size;
        }
      }
    }
  }

  &.black {
    background-color: black;
    color: white;
    height: 70%;
    width: calc(#{$keyWidth} - 10px);
    position: absolute;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;

    &.active,
    &:active {
      background-color: #333;
      // opacity: 0.1;
    }
  }
}
