* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  font-size: inherit;
  background: inherit;
  color: inherit;
  border: inherit;
  cursor: pointer;
}
